body {
  background-color: $color-black-blue;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}
.timer-box {
  padding: 20px;
  background-color: #263859;
  border-radius: 30px;
  box-shadow: 0px 5px 10px 2px rgba($color: #152238, $alpha: 1);
  position: relative;
  &__warning {
    transition: all 0.4s ease-in-out;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    top: -35px;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: $color-orange;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }
}

.timer-unput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  &__number {
    background-color: $color-white;
    width: 150px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    appearance: none;
    outline: none;
    border: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.timer-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;

  &__wrapper {
    background-color: $color-black-blue;
    border-radius: 100px 100px 50px 50px;
    padding-bottom: 10px;
  }
  &__text {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: $color-white;
  }
  &__number {
    font-size: 60px;
    font-weight: 700;
    color: $color-white;
  }
}

.circle {
  position: absolute;
  transform: scaleY(1) rotate(270deg);
}
.segment {
  fill: transparent;
  stroke: url(#gradient);
  stroke-width: 2px;
  /*   stroke-dasharray: 35 60; */
  stroke-linecap: round;
  transform: scale(4.7);
  transform-origin: center;
  transition: stroke-dasharray 1s linear;
}
.circle-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  --size: 150px;
  width: var(--size);
  height: var(--size);
  position: relative;
  margin-bottom: 10px;
}
.timer-btn {
  display: flex;
  justify-content: space-between;

  &__text {
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    background-color: $color-orange;
    box-shadow: 0px 5px 10px 2px rgba($color: $color-black-blue, $alpha: 0.7);
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.05;
      transition: all 0.2s ease-in-out;
    }
  }
}
#close {
  color: #152238;
  cursor: not-allowed;
  background-color: rgba($color: $color-orange, $alpha: 0.5);
}
